<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button *ngIf="us.activo()"  (click)="us.cerrar_sesion()" >Salir</button>
    </ion-buttons>
    <ion-title text-center>
      Tienda
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="cs.ver_carrito()" >
        <ion-icon name="cart" color="primary"></ion-icon>
        <ion-badge color="danger" class="carrito-numero" *ngIf="cs.items.length > 0" >{{cs.items.length}}</ion-badge>
      </button>
      &nbsp;&nbsp;
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row *ngFor="let item of prodProv.productos">
      <ion-col *ngFor="let par of item" [navParams]="{ producto: par }" [navPush]="productoPage">
        <img [src]="par.codigo | imagen">
        <p>
          {{par.producto}}
          <br>
          {{par.precio_compra | currency}}
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll (ionInfinite)="siguiente_pagina($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
